- hosts: Generators
  remote_user: ec2-user

  vars:
    ContainerIdFile: ~/aqs_generator_container_id.cid 
    AwsAccessKeyId: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
    AwsSecretAccessKey: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
    AwsDefaultRegion: "{{ lookup('env', 'AWS_DEFAULT_REGION') }}"
    DockerUserName: "{{ lookup('env', 'DOCKER_CREDENTIALS_USR') }}"
    AQSGeneratorsDockerImageTagName: "{{ lookup('env', 'AQS_GENERATORS_DOCKER_IMAGE_TAG_NAME') }}"

  tasks:
    - name: Stop Previous Container
      shell: |
        if [ -f {{ ContainerIdFile }} ]; then
          CONTAINER_ID=$(cat {{ ContainerIdFile }})
          docker stop $CONTAINER_ID
          docker rm $CONTAINER_ID
          rm {{ ContainerIdFile }}
        fi

    - name: Deploy
      shell: >
        docker run -d
        --cidfile {{ ContainerIdFile }}
        -e AWS_ACCESS_KEY_ID={{ AwsAccessKeyId }}
        -e AWS_SECRET_ACCESS_KEY={{ AwsSecretAccessKey }}
        -e AWS_DEFAULT_REGION={{ AwsDefaultRegion }}
        -p 80:80
        -p 443:443
        {{ DockerUserName }}/{{ AQSGeneratorsDockerImageTagName }}:latest