- hosts: Generators
  remote_user: ec2-user
  become: yes

  vars:
    ContainerIdFile: ~/aqs_generator_container_id.cid 

  tasks:
    - name: Stop Previous Container
      shell: |
        if [ -f {{ ContainerIdFile }} ]; then
          CONTAINER_ID=$(cat {{ ContainerIdFile }})
          docker stop $CONTAINER_ID
          docker rm $CONTAINER_ID
          rm ~/aqs_generator_container_id.cid
        fi
    - name: Deploy
      shell: >
        docker run -d 
        --cidfile {{ ContainerIdFile }}
        -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID 
        -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY 
        -e AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION 
        $DOCKER_USER/AQSDataGenerator:latest)