- hosts: Generators
  remote_user: ec2-user
  become: yes

  tasks:
    - name: Update Packages
      yum:
        name: '*'
        state: latest

    - name: Install docker
      shell: |
        amazon-linux-extras install docker -y
        usermod -a -G docker ec2-user

    - name: Start Docker as a service
      systemd:
        name: docker
        state: started
        enabled: yes
        daemon_reload: yes
